<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Lista de Atividades</title>
</head>

<body>
    
    <% if (message != '') { %>
        <section class="message message-<%= type %>">
            <p><%= message %></p>
            <span id="closeMessage"><i class="bi bi-x"></i></span>
        </section>
    <% } %>

    <header>
        
        <% let login = true; %>
        <% function log() {  %>
        <% login ? login = false : login = true; %>
        <% } %>
        
        <% if (login) { %>

            <div className="form-cadastro">
                <div className="container">
                    <form
                    action="/signin"
                    method="post"
                    className="row g-3 needs-validation"
                    noValidate
                    >
                    <h2>Login</h2>
                        <div className="col-md-12">
                            <label htmlFor="validationCustom03" className="form-label">
                                E-mail:
                            </label>
                            <input 
                            type="email"
                            className="form-control"
                            id="validationCustom03"
                            placeholder="Digite seu e-mail"
                            required
                            >
                        </div>
                        <div className="col-md-12">
                            <label htmlFor="validationCustom03" className="form-label">
                                Senha:
                            </label>
                            <input 
                            type="password"
                            className="form-control"
                            id="validationCustom03"
                            placeholder="Digite sua senha"
                            required
                            >
                        </div>
                        <div className="col-12"></div>
                        <div className="col-12">
                            <button type="submit" className="btn btn-danger">
                                Login
                            </button>
                        </div>
                    </form>
                        <a href="" onclick="log()" id="toggleForm">
                            Cadastre-se
                        </a>



        <% } else { %>

            <div className="form-cadastro">
                <div className="container">
                    <form
                    action="/signup"
                    method="post"
                    className="row g-3 needs-validation"
                    noValidate
                    >
                    <h2>Cadastre-se</h2>
                        <div className="col-md-12">
                            <label htmlFor="validationCustom01" className="form-label">
                                Nome:
                            </label>
                            <input
                            type="text"
                            placeholder="Digite seu nome"
                            className="form-control"
                            id="validationCustom01"
                            required
                            />
                        </div>
                        <div className="col-md-12">
                            <label htmlFor="validationCustom03" className="form-label">
                                E-mail:
                            </label>
                            <input
                            type="email"
                            className="form-control"
                            id="validationCustom03"
                            placeholder="Digite seu e-mail"
                            required
                            />
                        </div>
                        <div className="col-md-12">
                            <label htmlFor="validationCustom02" className="form-label">
                                Senha:
                            </label>
                            <input
                            type="password"
                            className="form-control"
                            id="validationCustom02"
                            placeholder="Digite sua senha"
                            required
                            />
                        </div>
                        <div className="col-12">
                            <div className="form-check">
                            <input
                            className="form-check-input"
                            type="checkbox"
                            defaultValue=""
                            id="invalidCheck"
                            required
                            />
                            <label className="form-check-label" htmlFor="invalidCheck">
                              Aceito os termos e condições
                            </label>
                        </div>
                    </div>
                    <div className="col-12">
                        <button type="submit" className="btn btn-danger">
                            Cadastrar
                        </button> 
                    </div>
                    </form>
                    <a href='fomulario()' id="toggleForm">
                        Login
                    </a>
                </div>
            </div>


        <% } %>


    </header>

    <script src="script.js"></script>
</body>
</html>