section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 600px;
}

.container h1 {
  font-size: 5rem;
  font-weight: 600;
}

.container p {
  color: gray;
  margin: 28px 0;
  font-size: 1.3rem;
}

.container button {
  padding: 8px;
  width: 70%;
  font-size: 24px;
}

.form-cadastro {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-cadastro .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: -1px 2px 26px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 2px 26px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 2px 26px 2px rgba(0, 0, 0, 0.25);
}

.div-form {
  width: 100%;
}

form label {
  text-align: left;
}

form button {
  width: 100%;
}

.message {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-danger {
  background-color: rgb(255, 197, 197);
  color: #8a0000;
}

.message-success {
  background-color: rgb(197, 255, 214);
  color: #008a1e;
}

span#close-message {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  padding-left: 2rem;
}

span#close-message:hover {
  color: rgb(255, 0, 0);
}

form {
  width: 500px;
}

form input {
  margin-bottom: 16px;
}

form button {
  margin-bottom: 16px;
}

.terms {
  border-bottom: 1px solid lightgrey;
}

.noAccount {
  text-align: center;
  padding: 16px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_senha {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eaecef;
  padding: 6px;
  margin-bottom: 16px;
  border-radius: 0.3rem;
}

.input_senha img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.input_senha input {
  border: none;
  margin: 0;
  width: 100%;
}

.input_senha input:focus {
  outline: none;
}

form h2 {
  margin-bottom: 24px;
  text-align: center;
}

/* responsiveness */

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .container h1 {
    font-size: 3rem;
  }

  #cadastro {
    margin: 0;
  }

  header ul li {
    margin: 8px 0;
  }

  header ul {
    margin-top: 24px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 400px;
  }
}