@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.form-cadastro {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-cadastro .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: -1px 2px 26px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 2px 26px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 2px 26px 2px rgba(0, 0, 0, 0.25);
  ;
}

.div-form {
  width: 100%;
}

form label {
  text-align: left;
}

form button {
  width: 100%;
}


/* Span de mensagem */

.message {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-danger{
  background-color: rgb(255,197, 197);
  color: #8a0000;
}

.message-success {
  background-color: rgb(197, 255, 214);
  color: #008a1e;
}

span#close-message{
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
  padding-left: 2rem;
}

span#close-message:hover {
  color: rgb(255, 0, 0);
}