<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Lista de Atividades</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <h1>LOGO</h1>
                </a>
                <button class="navbar-toggler shadow-sm" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="login" href="/login">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-danger" id="cadastro" href="/">HOME</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="form-cadastro">
        <div class="container">
            <form action="/signup" method="post" class="row g-3 needs-validation" noValidate>
                <div class="col-md-12">
                    <label htmlFor="nome" class="form-label">
                        Nome Completo
                    </label>
                    <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" required />
                    <div class="valid-feedback">Tudo certo!</div>
                </div>
                <div class="col-md-12">
                    <label htmlFor="email" class="form-label">
                        E-mail
                    </label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu e-mail"
                        required />
                    <div class="alert alert-danger" style="display: none;" id="invalid-feedback"></div>
                </div>
                <div class="col-md-12">
                    <label htmlFor="senha" class="form-label">
                        Senha
                    </label>
                    <input type="password" class="form-control" name="senha" id="senha" placeholder="Digite sua senha"
                        required />
                    <div class="valid-feedback">Tudo certo!</div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" defaultValue="" id="invalidCheck" required />
                        <label class="form-check-label" htmlFor="invalidCheck">
                            Aceito os termos e condições
                        </label>
                        <div class="invalid-feedback">Você precisa aceitar antes de continuar.</div>
                    </div>
                </div>
                <div class="col-12">
                    <button id="addButton" class="btn btn-danger" type="submit">
                        Cadastrar
                    </button>
                </div>
            </form>
        </div>
    </div>

<!-- TESTANDO -->







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector(".needs-validation");
            const invalidFeedback = document.getElementById("invalid-feedback");

            form.addEventListener("submit", async function (event) {
                event.preventDefault();


                try {
                    const response = await fetch("/signup", {
                        method: "POST",
                        body: new URLSearchParams(new FormData(form)),
                    });

                    const data = await response.json();

                    if (response.ok) {
                        // Se a resposta for bem-sucedida, limpe a mensagem de erro
                        invalidFeedback.innerHTML = "";
                        alert(data.message); // ou faça algo com a resposta
                        window.location.href = "/login";
                    } else {
                        // Se houver um erro, exiba a mensagem de erro no front-end
                        invalidFeedback.style.display = "block";
                        invalidFeedback.innerHTML = data.error;
                    }
                } catch (error) {
                    console.error("Erro ao enviar a solicitação:", error);
                }
            });
        });
    </script>

</body>

</html>